svg {
    fill:gray;
    stroke: gray;
    stroke-width: 3px;
}
text {
    font-family: sans-serif;
    font-size: 13px;
    fill: gray;
    stroke: black;
    stroke-width: 0;
    text-anchor: middle
}
path {
    fill: #ccc;
    stroke: #eee;
}
g.water text {
    font-size: 10px;
    fill: rgba(0, 0, 0, 0.5);
}

g.water path {
    fill: rgba(0, 0, 255, 1);
    stroke-width: 0;
}

g.parks text {
    font-family: sans-serif;
    font-size: 5px;
    fill: rgba(20, 20, 20, 0.75);
    stroke: rgba(3, 3, 250, 1);
    stroke-width: 0;
    text-anchor: middle;
}

g.parks path {
    fill: rgb(19, 97, 3);
    stroke: rgba(4, 4, 4, 0.5);
    stroke-width: 0px;
}